<h1> Main du programme principal le tama fonctionne ici </h1>


<!-- Rendu partiel des etats du tamagotchi -->

<p> <%= render partial: 'tamawindow' %> </p>

<!-- Bouton du tamagotchi et actions correspondantes -->

<ul>
    <li><%= link_to 'NourrirTama', :controller => "tama" , :action => "feed_tama" %>  </li>
    
    <li><%= link_to 'SoignerTama', :controller => "tama", :action => "cure_tama" %></li>
    
    <li><%= link_to 'NettoyerTama', :controller => "tama" , :action => "clean_tama" %></li>
    
    <li><%= link_to 'JouerTama', :controller => "tama" , :action => "play_with_tama"
    %></li>
    
</ul>
